.fa-times{
    font-size: 27px;
    color: #989898;
    float: right;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    right: 0;
    cursor: pointer;
}

.email_input_forgot {
    width: 100%;
    max-width: 600px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin: 0px 0 2px 0;

}

.email_input_forgot input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 0 0 26px ;
}

.code_input_forgot {
    width: 100%;
    max-width: 600px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin: 0px 0 2px 0;

}
.code_input_forgot input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 0 0 26px ;
}

.logInBtnForgot{
    text-decoration: none;
}

.text-error {
    display: none;
}

.show-error {
    display: block;
}