.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: start;
    /* justify-content: center; */
}

@media (min-width: 768px) {
  .nav-menu {
    justify-content: center;
}
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    transition-duration: 0.3s;
}

.nav-item p {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight: 600;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 600;
}

.nav-links:hover {
    color: #35C4F2;
    transition: all 0.3s;
  }

  .nav-links-mobile {
    display: none;
  }

  .back-to-home {
    display: none;
  }


  @media(max-width: 1224px) {
    .real-estate-invest-nav {
      margin-bottom: 120px;
      transition-duration: 0.3s;
    }

    .back-to-home {
      display: flex;
    }
  }