.LogInPhoto {
    width: 55%;
    left: 0;
    background-color: #F2F6FF;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogInPhoto img {
    width: 70%;
}

.LogInInfo {
    width: 45%;
    height: calc(100vh - 90px);
    padding: 0 50px 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LogInInfo h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #054163;
    line-height: 49px;
    padding-bottom: 43px;
}

.email_input {
    width: 80%;
    max-width: 500px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 30px;

}

.email_input input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 0 0 26px ;
}

input:focus {
    outline: none;
}

.password_input{
    display: flex;
    width: 80%;
    max-width: 500px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.password_input input {
    width: 85%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 0 0 26px ;
}

.fa-eye{
    font-size: 20px;
    color: #C5C5C5;
    margin: auto  20px auto 0;
    cursor: pointer;

}

.forgot_password {
    width: 80%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.forgot_password_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #0AAAE1;
    cursor: pointer;
}

.forgot_password_text:hover {
    color:black;
}

.logInBtn{
    width: 80%;
    text-decoration: none;
}

.not_registered{
    display: flex;
    justify-content: center;
}

.not_registered p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #989898;
    margin-right: 5px;
}

.signUpNow {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #0AAAE1;
    cursor: pointer;
    text-decoration: none;
}

.remeberMe {
    display: flex;
    align-items: center;
}

.remeberMe p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #999999;
    line-height: 1.4;
}

.remeberMe input {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

@media (max-width: 1000px){
    .LogInInfo {
     padding: 0 20px;   
    }
}

@media (max-width: 768px){
    .LogInPhoto {
       display: none;
    }
    .LogInInfo {
        width: 100%;
    }

    .email_input {
        width: 100%;
    }
    .password_input{
        width: 100%;
    }
    .password_input input {
        width: 100%;
    }
    .forgot_password {
        width: 100%;
    
    }
}